@import "fonts";
@import "variables";
@import "null";

@import "header";
@import "intro";
@import "order";
@import "footer";

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: $black;
  background-color: $bgcolor;
  width: 100%;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;

  @media (max-width: $md1) {
    max-width: 1000px;
  }

  @media (max-width: $md2) {
    max-width: 900px;
  }

  @media (max-width: $md3) {
    max-width: 700px;
  }

  @media (max-width: $md4) {
    max-width: 500px;
  }
}
