@import "fonts";
@import "variables";
@import "null";

@import "header";


body {
  font-family: "Roboto Regular";
  font-size: 14px;
  font-weight: 400;
  color: $black;
  background-color: $bgcolor;
  width: 100%;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
}
