$fontFamily: "Roboto";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1172px;
$md1: 1400px;
$md2: 1200px;
$md3: 992px;
$md4: 768px;
$md5: 576px;
$md6: 400px;

// Basic Colors
$black: #000;
$white: #fff;

// Project Colors
$primary: #2a2b30;
$secondary: #07c8c8;
$headerColor: #10101d;
$bgcolor: #272733;
$grey: #bbbbbb;
$blue: #14317b;
$footerColor: #c3c3c3;

